venv
**/migrations/0*
**/pycache__*
pyrightconfig.json
media/

# Environments
.env
.idea
.venv

db.sqlite3

# Pytest
.pytest_cache/
coverage.xml
htmlcov/
.env.local
staticfiles
*.log

.vscode

node_modules
.next
admin/.next
build/

env/
*.pyc
media/
myenv/